<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2>Abono encontrado</h2>
    <table>
        <tr>
            <td>ID Abono</td>
            <td>{{ abono.id_abono }}</td>
        </tr>
        <tr>
            <td>ID Plan</td>
            <td>{{ abono.id_plan }}</td>
        </tr>
        <tr>
            <td>Mes del abono</td>
            <td>{{ abono.mes_abono }}</td>
        </tr>
        <tr>
            <td>Valor abono ($)</td>
            <td>{{ abono.valor_abono }}</td>
        </tr>
        <tr>
            <td>Nueva cuota ($)</td>
            <td>{{ abono.nueva_cuota }}</td>
        </tr>
    </table>

    <br />
    <a href="/abonos">Volver</a>
</body>
</html>
