<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/usuario/new">
        <div>
            Cédula: <input type="text" name="cedula" />
        </div>
        <div>
            Nombre: <input type="text" name="nombre" />
        </div>
        <div>
            Apellido: <input type="text" name="apellido" />
        </div>
        <div>
            Telefono: <input type="text" name="telefono" />
        </div>
        <div>
            Correo: <input type="email" name="correo" />
        </div>
        <div>
            Direccion: <input type="text" name="direccion" />
        </div>
        <input type="submit" value="Guardar" />
    </form>
</body>

</html>