<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <table>
        <tr>
            <td>ID Plan</td>
            <td>{{ plan.id_plan }}</td>
        </tr>
        <tr>
            <td>Cédula</td>
            <td>{{ plan.cedula }}</td>
        </tr>
        <tr>
            <td>Meta ($)</td>
            <td>{{ plan.meta }}</td>
        </tr>
        <tr>
            <td>Tasa de interés</td>
            <td>{{ plan.tasa_interes }}</td>
        </tr>
        <tr>
            <td>Plazo (meses)</td>
            <td>{{ plan.plazo }}</td>
        </tr>
        <tr>
            <td>Cuota mensual ($)</td>
            <td>{{ plan.cuota_mensual }}</td>
        </tr>
        <tr>
            <td>Fecha de creación</td>
            <td>{{ plan.fecha_creacion }}</td>
        </tr>
    </table>

    <a href="/">Volver al inicio</a>

</body>

</html>