<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2>Planes encontrados</h2>
    <table>
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Cédula</b></td>
                <td><b>Meta ($)</b></td>
                <td><b>Tasa</b></td>
                <td><b>Plazo</b></td>
                <td><b>Cuota mensual ($)</b></td>
                <td><b>Fecha creación</b></td>
            </tr>
        </thead>
        <tbody>
            {% for plan in planes %}
            <tr>
                <td>{{ plan.id_plan }}</td>
                <td>{{ plan.cedula }}</td>
                <td>{{ plan.meta }}</td>
                <td>{{ plan.tasa_interes }}</td>
                <td>{{ plan.plazo }}</td>
                <td>{{ plan.cuota_mensual }}</td>
                <td>{{ plan.fecha_creacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/planes">Volver</a>
</body>
</html>
