<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2>Usuario encontrado</h2>
    <table>
        <tr>
            <td>Cédula</td>
            <td>{{ usuario.cedula }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{ usuario.nombre }}</td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>{{ usuario.apellido }}</td>
        </tr>
        <tr>
            <td>Teléfono</td>
            <td>{{ usuario.telefono }}</td>
        </tr>
        <tr>
            <td>Correo</td>
            <td>{{ usuario.correo }}</td>
        </tr>
        <tr>
            <td>Dirección</td>
            <td>{{ usuario.direccion }}</td>
        </tr>
    </table>

    <a href="/usuarios">Volver</a>
</body>
</html>
