<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css">
</head>
<body class="container mt-4">

    <h2>Usuario encontrado</h2>

    <table class="table table-bordered w-50">
        <tr>
            <th>Cédula</th>
            <td>{{ usuario.cedula }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ usuario.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ usuario.apellido }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ usuario.telefono }}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>{{ usuario.correo }}</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>{{ usuario.direccion }}</td>
        </tr>
    </table>

    <a href="/usuarios" class="btn btn-secondary">Volver</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
